:root{
    --color-primary:black;
    --color-secondary:#141922;
    --color-third:#282828;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.top-container{
    flex-grow: 1;
    display: flex;
    

}
.sidebar{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}
.sidebar a{
    text-decoration: none;
    color: lightgray;
    display: inline-block;
}
.main-container{
    flex-grow: 1;
}

.sidebar .middle-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.main-container .top-bar{
    background-color: var(--color-primary);
}
.main-container .main{
    background-color: var(--color-secondary);
    overflow: auto;
}
.top-main{
    position: sticky;
}
.top-main a{
    text-decoration: none;
    color: lightgray;
}



.bottom-navbar{
    flex-shrink: 0;
    background-color: var(--color-third);
}



/* -------UTILITY-------- */
.row{
    display: flex;
}
.jc-space-b{
    justify-content: space-between;
}
.jc-center{
    justify-content: center;
}

.img-reboot{
    width: 100%;
    display: block;
}
.jc-end{
    justify-content: flex-end;
}

.txt-white{
    color: white;
}



/* ------------MEDIA QUERY----------- */

@media screen and (min-width:568px) {
    
}
@media screen and (min-width:768px) {
    
}
@media screen and (min-width:992px) {
    
}